:root {
  --main-color : rgb(231, 229, 229);
} 

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  background-color: var(--main-color) !important;
  height: 100vh;
}

.logo {
  width: 140px;
}
.menuBar {
  background-color: white;
  padding: 15px;
}

#search-wrapper {
  width: 500px;
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconButton {
  background-color: var(--main-color);
  display: inline-block;
  padding: 7px;
  border-radius: 100%;
  cursor:pointer;
  margin-left: 5px;
}

.iconButton:hover {
  background-color: rgb(238, 238, 238);
}

.tbox {
  background-color: var(--main-color);
  border: none;
  outline: none;
}

.search-icon {
  padding-left: 10px;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menuBar-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}