:root {
  --main-color : rgb(231, 229, 229);
} 

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  background-color: var(--main-color) !important;
  height: 100vh;
}

.logo {
  width: 140px;
}
.menuBar {
  background-color: white;
  padding: 15px;
}

#search {
  width: 500px;
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 20px;
}

.iconButton {
  background-color: var(--main-color);
  display: inline-block;
  padding: 7px;
  border-radius: 100%;
}